.main{
  background-image: "../utils/logoEmpresarial.png";
  
}
.container{
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 50px;
  grid-auto-flow: column;
  margin-top:150px;
}
.televisores{
  width: '100%'; 
  height: '100%';
  position: 'relative';
  border-style: solid;
}
.descripcion{
 font-family: 'Courier New', Courier, monospace;
 color: black;
}
.televisor{
  margin-left: 18px;
}